//Error
$error-lightest: #faede7;
$error-light: #f57a20;
$error-medium: #b44714;
$error-default: #9e3e12;
$error-dark: #893610;
$error-darkest: #742e0d;

//Confirmation
$confirm-lightest: #e8f6ee;
$confirm-light: #1aab5c;
$confirm-medium: #16914e;
$confirm-default: #138045;
$confirm-dark: #116f3c;
$confirm-darkest: #0e5e32;

//Information
$information-lightest: #e5eff9;
$information-light: #0060c6;
$information-medium: #0052a8;
$information-default: #004894;
$information-dark: #003e81;
$information-darkest: #00356d;

//Warning
$warning-lightest: #fff8e9;
$warning-light: #ffb72c;
$warning-medium: #d99c25;
$warning-default: #bf8921;
$warning-dark: #a6771d;
$warning-darkest: #8c6418;

//down
$down: #ff0000;

//Grey
$grey-lighten-100: #ffffff;
$grey-lighten-95: #f5f6f7;
$grey-lighten-90: #ebedef;
$grey-lighten-80: #d7dadf;
$grey-lighten-70: #c3c8ce;
$grey-lighten-60: #afb5be;
$grey-lighten-40: #88919e;
$grey-lighten-20: #606c7d;
$grey-lighten-10: #4c596d;
$grey-base: #38475d;

//brand
$brand-lighten-90: #e5f1fd;
$brand-lighten-85: #daeafc;
$brand-lighten-80: #cce2fb;
$brand-lighten-65: #a6cdf7;
$brand-lighten-30: #009bef;
$brand-base: #0071e9;
$brand-darken-15: #0060c6;
$brand-darken-35: #004a98;
$brand-darken-65: #002751;
$brand-darken-80: #00172f;

//support
$support-base: #002d5d;
$support-lighten-10: #1a426d;
$support-lighten-20: #33577d;
$support-lighten-35: #597796;
$support-lighten-60: #99abbe;
$support-lighten-75: #bfcad7;
$support-lighten-80: "#CCD5DF";
$support-lighten-85: #d9e0e7;
$support-lighten-90: #e6eaef;
$support-lighten-95: #f2f5f7;

//ornamental
$ornamental-01: #c9bbf1;
$ornamental-02: #f1c5bb;
$ornamental-03: #f0e2ca;
$ornamental-04: #edebbe;
$ornamental-05: #d3ebad;
$ornamental-06: #b2f2dc;
$ornamental-07: #a6cdf7;
$ornamental-08: #e3f4f8;
$ornamental-09: #ebedef;

//data
$data-01: #0071e9;
$data-02: #16914e;
$data-03: #de1a73;
$data-04: #f27c00;
$data-05: #7551b3;
$data-06: #6ecce3;
$data-07: #ee8cb9;
$data-08: #99adc2;
$data-09: #ffbc77;
$data-10: #009bef;
$data-11: #9d79d0;
$data-12: #a6cdf7;
$data-13: #c6f3e5;
$data-14: #f7c6dc;
$data-15: #d9e0e8;

//background
$bg-color: #f1f5fb;
$bg-color-2: #fafbfd;
$filter-background: #e0eefe;
$black-background: rgba(0, 0, 0, 0.3);
$section-background: rgba(0, 0, 0, 0.05);
$grey-background: rgba(0, 0, 0, 0.7);
$table-bg: #d0ddeb;
$background-color: #ebf3f9;
//others
$hyper-link: #0272ea;
$border-color: rgba(0, 0, 0, 0.1);
